@model Mundo_de_Sombras.Models.Categorias

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Categorias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Terror" class="control-label"></label>
                <input asp-for="Terror" class="form-control" />
                <span asp-validation-for="Terror" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sobrenatural" class="control-label"></label>
                <input asp-for="Sobrenatural" class="form-control" />
                <span asp-validation-for="Sobrenatural" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ficcion" class="control-label"></label>
                <input asp-for="Ficcion" class="form-control" />
                <span asp-validation-for="Ficcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
