@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO A MUNDO DE SOMBRAS</h1>
    <p>Hola, te damos la bienvenida a nuestra pagina querido lector, esperamos que encuentres el libro que buscas.</p>
</div>
